/*:root
{
    --card-border-radius: 2rem;
    --border-radius-1:;
    --border-radius-2:;
    --border-radius-3:;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem;
}*/

body {
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(to right, rgb(0, 0, 0), #3b2c00, rgb(0, 0, 0));
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Rough work */
main
{
    margin-top: 1.4rem;
}
main .date
{
    display:inline-block;
    background: blue;
    border-radius: red;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type='date']
{
       background: transparent;
       color: black;
}
main .insights
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
main .insights > div
{
    background: #000;
    padding: 1.8rem;
    border-radius: 2rem;
    margin-top: 1rem;
    /*box-shadow:0 2rem 3rem blue;
    transition: all 300ms ease;*/
}
main .insights > div:hover
{
    box-shadow: none;
}
main .insights > div span
{
    background: #ffc107;
    padding: 0.5rem;
    border-radius: 50%;
    color: #000;
    font-size: 2rem;
}
main .insights > div .middle
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .insights h3
{
    margin: 1rem 1px 0.6rem;
    font-size: 1rem;
    color: white;
}
main .insights h1
{
    color: white;
}
.main .insights .left h3 {
    color: #white;
}

.main .insights .left h1 {
    color: #white;
}
main .insights .progress
{
    position: relative;
    width: 92px;
    height:92px;
    border-radius: 50%;
    left: 13px;
}
main .insights svg
{
    background: #ffc107;
    width: 7rem;
    height: 7rem;
}
main .insights svg circle
{
    fill: none;
    stroke: #000;
    stroke-width: 13;
    stroke-linecap: round;
    transform: translate(8px, 8px);
    stroke-dasharray: 323;
    stroke-dashoffset: 123;
}
main .insights .progress .number
{
    position: absolute;
    top: 10px;
    left: 3px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .insights .progress .number p
{
    color: #000;
    font-size: 17px;
}
main .insights small.text-muted
{
    top: 11px;
    position: relative;
}
